<!DOCTYPE html>
<html>
<head>
  <style>
     body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background:#e7c0c0;
            background: linear-gradient(120deg, rgb(189, 56, 56)  50%, #111110 50%);
        }
     .container {
            background-image: url("CM3.jpg");
            background-size: cover;
            background-position: center;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
     }
     h1, h2 {
    margin-bottom: 20px; /* Adjust the margin as needed for spacing */
  }
  .link {
            position : absolute;
            top : 20px;
            right : 20px;
            font-size: 30px;
            /*color: rgb(250, 253, 250);
            background-color: transparent;*/
        }
  </style>

</head>
<body>
  <div class = container>
    <h1 style = "color : white"> WELCOME TO RAPID NOTIFY</h1>
  <div class = link>

  <a href="/login" style = "color: white">Login</a>
  </div>
</div>

</body>
</html>